.MyCapabilities {
  padding-top: 93px;
  background-color: #0e0c38;
  padding-bottom: 90px;
}
.MyCapabilities h2 {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 106px;
  font-size: 60px;
  text-align: center;
  color: white;
  margin-bottom: 87px;
}
.MyCapabilities p {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 30px;
  line-height: 55px;
  color: white;
  text-align: center;
  margin-bottom: 229px;
}
.MyCapabilities .Capability {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Media Queries */
@media screen and (max-width: 1600px) {
  .MyCapabilities p {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
  }
  .MyCapabilities h2 {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1366px) {
  .MyCapabilities h2 {
    margin-bottom: 35px;
  }
  .MyCapabilities .Capability {
    justify-content: center;
  }
  .MyCapabilities h2 {
    font-size: 26px;
  }
  .MyCapabilities {
    padding-bottom: 0px;
  }
  .MyCapabilities h3 {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1025px) {
  .MyCapabilities .Capability {
    justify-content: center;
    align-items: center;
  }
  .MyCapabilities p {
    max-width: 100%;
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .MyCapabilities h2 {
    font-size: 35px;
  }
}
